.container {
	@apply relative h-screen;
	.bg {
		position: absolute;
		top: -30px;
		z-index: -1;
		min-height: 115vh;
		aspect-ratio: 16/9;
		min-width: 100vw;
	}

	.bg2 {
		position: absolute;
		bottom: -423px;
		z-index: -1;
		right: 1px;
		width: 100vw;
	}
	.content {
		@apply flex justify-center items-center;
		z-index: 100;
	}
	.text-block {
		@apply max-w-[780px] gap-8 flex flex-col text-center items-center;

		.heading {
			@apply font-black text-[#fff] text-[85px] leading-[110.5px];
		}

		.text {
			@apply max-w-[580px] px-2 text-gray-40 text-base font-normal;
		}
	}

	.circle1 {
		position: absolute;
		top: 54%;
		left: 43%;
		transform: translate(-50%, -50%) rotate(14deg);
		width: 1187.08px;
		height: 514.99px;
		border-radius: 50%;
		background-image: linear-gradient(
			93.63deg,
			#484848 5.36%,
			rgba(72, 72, 72, 0.36) 47.78%,
			#484848 91.69%
		);
		z-index: -1;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 99.8%;
			height: 99.8%;
			@apply bg-bg rounded-[50%];
		}
	}

	.circle2 {
		position: absolute;
		top: 55%;
		left: 46%;
		transform: translate(-50%, -50%) rotate(14deg);
		width: 1724.75px;
		height: 748.24px;
		z-index: -2;
		background-image: linear-gradient(
			93.63deg,
			#484848 5.36%,
			rgba(72, 72, 72, 0.36) 47.78%,
			#484848 91.69%
		);
		border-radius: 50%;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 99.8%;
			height: 99.8%;

			@apply bg-bg rounded-[50%];
		}
	}

	.circle3 {
		position: absolute;
		top: 52%;
		left: 42%;
		transform: translate(-50%, -50%) rotate(14deg);
		width: 2378.98px;
		height: 1032.06px;
		z-index: -3;

		background-image: linear-gradient(
			93.63deg,
			#484848 5.36%,
			rgba(72, 72, 72, 0.36) 47.78%,
			#484848 91.69%
		);

		border-radius: 50%;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 99.8%;
			height: 99.8%;

			@apply bg-bg rounded-[50%];
		}
	}

	.gradient1 {
		position: absolute;
		width: 170.25px;
		height: 241.35px;
		top: 77.64px;
		left: 146.33px;
		transform: rotate(-180deg);
		filter: blur(60px);
		background: linear-gradient(180deg, rgba(24, 255, 158, 0) 0%, #17ffe3 100%);
		z-index: -1;
	}
	.gradient2 {
		position: absolute;
		width: 354.32px;
		height: 354.04px;
		top: -195.99px;
		left: 94.33px;
		transform: rotate(-180deg);
		filter: blur(90px);
		z-index: -1;

		background: linear-gradient(180deg, #173b80 0%, #11573e 100%);
	}
	.gradient3 {
		position: absolute;
		width: 475px;
		height: 250px;
		top: 190px;
		left: 401px;
		background: #7000ff;
		border-radius: 50%;
		filter: blur(160px);
		z-index: -1;
	}
	.gradient4 {
		position: absolute;
		width: 475px;
		height: 314px;
		top: 190px;
		right: 351px;
		background: #ff00c7;
		border-radius: 50%;
		filter: blur(160px);
		z-index: -1;
	}
	.gradient5 {
		position: absolute;
		width: 289.73px;
		height: 411.07px;
		top: 300.84px;
		right: 0;
		background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, #174aff 100%);
		filter: blur(90px);

		z-index: -1;
	}
	.gradient6 {
		position: absolute;
		width: 203px;
		height: 603px;
		top: 50.14px;
		right: 0;
		background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #ff29c3 100%);
		filter: blur(100px);

		z-index: -1;
	}

	.gradient7 {
		z-index: 10;
		position: absolute;
		width: 99px;
		height: 64px;
		bottom: -49%;
		left: -13px;
		filter: blur(10px);

		background: radial-gradient(
			74.11% 74.1% at 50% 0%,
			rgba(255, 255, 255, 0.2) 0%,
			rgba(255, 255, 255, 0) 100%
		);
	}

	.bitcoin {
		position: absolute;
		top: 129px;
		left: 70.75px;
	}
	.litecoin {
		position: absolute;
		top: 579.7px;
		left: 154.03px;
	}
	.monero {
		position: absolute;
		top: 225px;
		right: 105px;
	}
	.etherium {
		position: absolute;
		top: 568.75px;
		right: 278.7px;
		z-index: 100;
	}

	.star {
		position: absolute;
		z-index: 100;
		top: 241px;
		left: 190px;
	}
	.star2 {
		position: absolute;
		z-index: 100;
		top: 699px;
		left: 1339px;
	}
	.starMini {
		position: absolute;
		z-index: 100;
		top: 176px;
		left: 1344px;
	}
}

@media screen and (max-width: 745px) {
	.container {
		.content {
		}
		.text-block {
			.heading {
				@apply md:text-[64px] leading-[83.2px];
			}

			.text {
				@apply text-[16px] leading-[22.4px];
			}
		}

		.circle1 {
			width: 779.52px;
			height: 338.18px;
			top: 49%;
		}

		.circle2 {
			width: 1132.59px;
			height: 491.35px;
			top: 50%;
			left: 48%;
		}

		.circle3 {
			width: 1562.21px;
			height: 677.73px;
			top: 49%;
			left: 42%;
		}

		.gradient1 {
			top: 92.64px;
			left: 124.33px;
		}
		.gradient2 {
			top: -254.99px;
			left: 50.33px;
		}
		.gradient3 {
		}
		.gradient4 {
			top: 92px;
			right: -421px;
		}
		.gradient5 {
			filter: blur(113px);
			top: 344.84px;
			right: 31px;
		}
		.gradient6 {
			filter: blur(240px);
		}

		.gradient7 {
			display: none;
		}

		.bitcoin {
			width: 133px;
			aspect-ratio: 1;
			top: 144.03px;
			left: 52.72px;
		}
		.litecoin {
			top: 650.7px;
			left: 177.03px;
			width: 106.57px;
			aspect-ratio: 1;
		}
		.monero {
			width: 102px;
			aspect-ratio: 1;
			top: 262px;
			left: 651px;
		}
		.etherium {
			aspect-ratio: 1;
			width: 131.19px;
			top: 598.85px;
			left: 537.55px;
		}

		.star {
			display: none;
		}
		.star2 {
			display: none;
		}
		.starMini {
			display: none;
		}
	}
}
