.container {
	@apply relative h-screen;

	.bg {
		position: absolute;
		top: -30px;
		z-index: -1;
		min-height: 115vh;
		aspect-ratio: 16/9;
		min-width: 100vw;
	}

	.bg2 {
		position: absolute;
		bottom: -423px;
		z-index: -1;
		right: 1px;
		width: 100vw;
	}
	.content {
		@apply flex mt-[102px] justify-center items-center;
	}
	.text-block {
		@apply max-w-[780px] gap-8 flex flex-col text-center items-center;

		.heading {
			@apply font-black text-[#fff] text-[85px] leading-[110.5px];
		}

		.text {
			@apply max-w-[580px] px-2 text-gray-40 text-base font-normal leading-[22.4px];
		}
	}
}
