.container {
	@apply relative mt-[100px] h-[685px] md:h-[1220px] flex flex-col items-center;

	.cards {
		@apply mt-[100px];
		column-count: 2;
		gap: 20px;
	}

	.illustration {
		position: absolute;
		top: -600px;
		right: 0;
		z-index: -1;
		aspect-ratio: 1;
	}
}

@media screen and (max-width: 744px) {
	.container {
		.cards {
			@apply mt-[60px];
			column-count: 1;
			gap: 30px;
		}

		.illustration {
			top: -214px;
		}
	}
}
