.container {
	@apply mt-40 flex justify-center items-center min-h-screen;
	.banner {
		@apply w-[1180px] h-[580px] rounded-[50px] place-items-center grid;
		grid-template-columns: 1fr 1fr;
		background: linear-gradient(
				97.94deg,
				rgba(41, 46, 75, 0.375) 0%,
				rgba(41, 46, 75, 0.175) 100%,
				rgba(48, 58, 120, 0.5) 100%
			),
			radial-gradient(
				62.64% 89.41% at -5.37% 100.9%,
				rgba(61, 165, 245, 0.5) 0%,
				rgba(62, 69, 238, 0) 100%
			),
			radial-gradient(
				53.39% 67.78% at 100% 20.39%,
				rgba(223, 29, 255, 0.5) 0%,
				rgba(72, 205, 255, 0) 100%
			);
		// border: 1px solid;

		// border-image: linear-gradient(
		// 	86.46deg,
		// 	#ffffff 0%,
		// 	rgba(255, 255, 255, 0) 100%
		// );
		.frame {
			@apply w-[522px] flex flex-col gap-[89px] h-[323px] ml-[58px];

			.info {
				.section-name {
					@apply font-semibold text-primary text-[20px] leading-[26px];
				}

				.title {
					@apply text-[50px] text-[#fff] font-black leading-[65px] text-left;
				}

				.description {
					@apply text-base mt-6 font-normal text-gray-30 leading-[22.4px] text-left;
				}
			}

			.statistics {
				.list {
					@apply flex items-center gap-[89px];
					.el {
						@apply h-[68px];
						.quontity {
							@apply flex h-[68px] justify-between flex-col text-[28px] font-black leading-[36.4px] text-left;

							.label {
								@apply text-sm font-semibold leading-[19.6px] text-left text-primary;
							}
						}
					}
				}
			}
		}
		.img {
			.image {
				width: 580px;
				aspect-ratio: 1;
			}
		}
	}
}
