.container {
	@apply mt-[100px] md:mt-[28px] flex justify-center items-center min-h-screen relative;

	.banner {
		@apply w-[1180px] md:w-[648px] h-[580px] relative bg-bg rounded-[50px] md:items-end md:place-items-baseline place-items-center md:grid-cols-1 grid-cols-2 grid;

		z-index: 100;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			border-radius: 50px;
			z-index: -1;
			background: linear-gradient(
					97.94deg,
					rgba(41, 46, 75, 0.375) 0%,
					rgba(41, 46, 75, 0.175) 100%,
					rgba(48, 58, 120, 0.5) 100%
				),
				radial-gradient(
					62.64% 89.41% at -5.37% 100.9%,
					rgba(61, 165, 245, 0.5) 0%,
					rgba(62, 69, 238, 0) 100%
				),
				radial-gradient(
					53.39% 67.78% at 100% 20.39%,
					rgba(223, 29, 255, 0.5) 0%,
					rgba(72, 205, 255, 0) 100%
				);
		}

		.frame {
			@apply w-[522px] flex flex-col gap-[89px] md:gap-[79px] h-[323px] ml-[58px];

			.info {
				.section-name {
					@apply font-semibold text-primary text-[20px] leading-[26px];
				}

				.title {
					@apply text-[50px] md:text-[40px] md:leading-[52px] md:font-semibold  text-[#fff] font-black leading-[65px] text-left;
				}

				.description {
					@apply text-base mt-6 font-normal text-gray-30 leading-[22.4px] text-left;
				}
			}

			.statistics {
				.list {
					@apply flex items-center gap-[89px];
					.el {
						@apply h-[68px];
						.quontity {
							@apply flex h-[68px] justify-between flex-col text-[28px] font-black leading-[36.4px] text-left;

							.label {
								@apply text-sm font-semibold leading-[19.6px] text-left text-primary;
							}
						}
					}
				}
			}
		}
		.img {
			.image {
				width: 580px;
				aspect-ratio: 1;
			}
		}
	}
}

@media screen and (max-width: 744px) {
	.container {
		.banner {
			.img {
				.image {
					width: 396px;
					position: absolute;
					bottom: -210px;
					right: -130px;
				}
			}
		}
	}
}
